<div class="box">
  <div class="box-header">
    <button class="add-btn" @click="disAddress">新增地址</button>
    <span>您已创建 {{addressNum}} 个收货地址，最多可创建 20 个</span>
  </div>

  <div class="box-body">
    <div class="box-item" v-for="(item,index) in addressList" :key="item.id" :class="{'active': (item.isDefault == 1)}">
      <el-row class=" item-header" type="flex" justify="space-between">
        <el-col :span="4" class="title-left">
          <div class="tag">{{item.tag}}</div>
          <div class="default" :style="{display:item.isDefault == 1 ? 'block' : 'none' }">默认</div>
        </el-col>
        <el-col :span="1" class="title-rigth">
          <a class="el-icon-close" href="javascript:;" @click="delAddress(index)"></a>
        </el-col>
      </el-row>

      <table class="item-table">
        <tr>
          <th>收货人 :</th>
          <td>{{item.consignee}}</td>
        </tr>
        <tr>
          <th>所在地址 :</th>
          <td>{{item.region}}</td>
        </tr>
        <tr>
          <th>详细地址 :</th>
          <td>{{item.detail}}</td>
        </tr>
        <tr>
          <th>电话/手机 :</th>
          <td>{{item.tel}}</td>
        </tr>
      </table>

      <div class="item-footer">
        <a class="edit" href="javascript:;" @click="disAddress(index,item)">编辑</a>
        <a class="default" href="javascript:;" :style="{display:item.isDefault == 1 ? 'none' : 'block' }">设置默认</a>
      </div>
    </div>
  </div>


  <!-- 修改地址对话框 -->
  <el-dialog title="新增/编辑" :visible.sync="addAddrdialog" @close="resetForm" width="560px">
    <el-form :model="addressInfo" :rules="addressRules" ref="addressInfoRef" label-width="140px">
      <el-form-item label="地址信息" prop="addrId">
        <el-cascader ref="cascaderAddr" v-model="addressInfo.addrId" @change="handleChange" style="width: 260px;"
          :props="props" placeholder="请选择省/市/区">
        </el-cascader>
      </el-form-item>
      <el-form-item label="详细地址" prop="detail">
        <el-input class="input" v-model="addressInfo.detail" placeholder="请输入详细地址信息，如道路、门牌号、小区、楼栋号、单元等信息" size="small">
        </el-input>
      </el-form-item>
      <el-form-item label="收货人姓名" prop="Consignee">
        <el-input class="input" v-model="addressInfo.Consignee" placeholder="长度不超过25个字符" size="small"></el-input>
      </el-form-item>
      <el-form-item label="手机号码" prop="tel">
        <el-input class="input" v-model="addressInfo.tel" placeholder="电话号码、手机号码必须填一项" size="small"></el-input>
      </el-form-item>
      <el-form-item>
        <button class="add-btn" @click="setAddress('addressInfoRef')" style="width:100px; height: 40px;">保存收货地址</button>
      </el-form-item>
    </el-form>
  </el-dialog>
</div>