<footer>
    <div class="footer-nav">
        <div class="qrcode">
            <img src="../../assets/img/qrcode.png">
            <p>随时逛 及时抢</p>
        </div>
        <dl>
            <dt>获取更新</dt>
            <dd>
                <a href="">iphone/Android</a>
            </dd>
            <dd>
                <a href="">日抓新浪微博</a>
            </dd>
        </dl>
        <dl>
            <dt>商务合作</dt>
            <dd>
                <a href="">招商合作</a>
            </dd>
            <dd>
                <a href="">开放平台</a>
            </dd>
            <dd>
                <a href="">廉政邮箱</a>
            </dd>
        </dl>
        <dl>
            <dt>公司信息</dt>
            <dd>
                <a href="">关于日抓</a>
            </dd>
            <dd>
                <a href="">媒体报道</a>
            </dd>
        </dl>
        <dl>
            <dt>帮助中心</dt>
            <dd>
                <a href="">新手上路</a>
            </dd>
            <dd>
                <a href="">网站地图</a>
            </dd>
        </dl>
        <div class="worker">
            <div class="icon">
                <img src="../../assets/img/service.jpg">
            </div>
            <time>周一至周日<br>9:00~21:00</time>
        </div>
    </div>
    <div class="copyright">
        <p>深圳哈希码科技限公司&nbsp;ICP许可证号：<a href="">粤ICP备18090374号</a></p>
        <p>Copyright © 2019 -2020 RiZhua.com All Rights Reserved</p>
    </div>
</footer>